[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-environ = "*"
dj-database-url = "*"
django-heroku = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
