{% extends 'base.html' %}

{% block title %}Add Trip{% endblock %}

{% block content %}
<div class="jumbotron py-5 bg-light" style="font-size: 0.8rem;">
  <div class="container text-center">
    <h1 class="display-4 mb-4" style="font-size: 2.0rem; font-weight: bold;">Welcome to Add Trip</h1>
    <p class="lead mb-4" style="font-size: 1.2rem;">This is the Add Trip page.</p>
    <h1 class="display-4 mb-4" style="font-size: 2.0rem; font-weight: bold;">Add a New Trip</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm" style="border-radius: 10px;">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
              </div>
              <button type="submit" class="btn btn-yellow" style="font-size: 1rem; width: 100%;">Add Trip</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



