{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container-fluid vh-100" style="background-image: url('{% static 'images/login-background.jpeg' %}'); background-size: cover; background-position: center;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-4 col-sm-8">
      <div class="card h-75">
        <div class="card-body">
          <h2 class="text-center animate__animated animate__fadeInDown text-yellow">Sign Up</h2>
          {% if error_message %}
          <div class="alert alert-danger animate__animated animate__fadeInDown" role="alert">
            {{ error_message }}
          </div>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-yellow w-100 mt-3 animate__animated animate__fadeInDown">Sign Up</button> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .form-control {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .form-group input {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
    height: 2.5rem; 
    background-color: #e7f3ff;
  }
</style>

{% endblock %}






