{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Trip Details{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{ trip.name }}</h1>
    <h2>Location: {{ trip.location }}</h2>
    <h3>From: {{ trip.start_date }} To: {{ trip.end_date }}</h3>
    <h4>Number of Days: {{ num_days }}</h4>
    <img src="{{photo}}" alt="photo of a landscape" width='500' height="500">
    <div class="row">
        {% for day in num_days|to_range %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Day {{ day }}</h5>
                    <ul class="list-group mb-3">
                        {% for itinerary in itineraries_by_day|dict_key:day %}
                        <li class="list-group-item">{{ itinerary.name }}</li>
                        {% endfor %}
                    </ul>
                    <form method="post" action="{% url 'add_itinerary' trip.pk day %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="itinerary_name_{{ day }}">Itinerary Name</label>
                            <input type="text" class="form-control" id="itinerary_name_{{ day }}" name="itinerary_name"
                                placeholder="Enter itinerary">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Itinerary</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}