<!-- trip.html -->

{% extends 'base.html' %}

{% block title %}Your Trips{% endblock %}

{% block content %}
<div class="jumbotron py-5 bg-light" style="font-size: 0.8rem;">
    <div class="container text-center">
        <h1 class="display-4 mb-4" style="font-size: 2.0rem; font-weight: bold;">Your Trips</h1>
        <div class="row">
            {% for trip in user_trips %}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm" style="border-radius: 10px;">
                    <div class="card-body p-0">
                        <div class="trip-photo"
                            style="position: relative; background-image: url('{{ trip.trip_photo.url }}'); height: 200px; background-size: cover; background-position: center; border-radius: 10px;">
                            <div class="overlay"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
                            </div>
                            <div class="trip-info"
                                style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); color: white; text-align: center;">
                                <h5 class="card-title" style="font-size: 2.0rem;">{{ trip.name }}</h5>
                                <p class="card-text" style="font-size: 0.7rem;">
                                    Location: {{ trip.location }}<br>
                                    Start Date: {{ trip.start_date }}<br>
                                    End Date: {{ trip.end_date }}
                                </p>
                                <a href="{% url 'trip_detail' trip.pk %}" class="btn btn-yellow"
                                    style="font-size: 0.8rem; margin-top: 5px;">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <h1 class="display-4 mb-4" style="font-size: 2.0rem; font-weight: bold;">All Trips</h1>
        <div class="row">
            {% for trip in public_trips %}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm" style="border-radius: 10px;">
                    <div class="card-body p-0">
                        <div class="trip-photo"
                            style="position: relative; background-image: url('{{ trip.trip_photo.url }}'); height: 200px; background-size: cover; background-position: center; border-radius: 10px;">
                            <div class="overlay"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
                            </div>
                            <div class="trip-info"
                                style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); color: white; text-align: center;">
                                <h5 class="card-title" style="font-size: 2rem;">{{ trip.name }}</h5>
                                <p class="card-text" style="font-size: 0.7rem;">
                                    Location: {{ trip.location }}<br>
                                    Start Date: {{ trip.start_date }}<br>
                                    End Date: {{ trip.end_date }}
                                </p>
                                <a href="{% url 'trip_detail' trip.pk %}" class="btn btn-yellow"
                                    style="font-size: 0.8rem; margin-top: 5px;">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    {% endblock %}